.signup-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

.signup-form{
    width:100%;
    max-width:470px;
    background:rgba(255,255,255,.1);
    backdrop-filter:blur(12px);
    border-radius:18px;
    padding:40px;
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.signup-form h2{
    color:white;
    text-align:center;
    margin-bottom:25px;
}

.signup-form input,
.signup-form select{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    border:none;
    border-radius:10px;
    outline:none;
}

.signup-form button{
    width:100%;
    padding:15px;
    background:#ff9800;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

.signup-form button:hover{
    background:#ff6f00;
}

.signup-form p{
    text-align:center;
    color:white;
    margin-top:18px;
}

.signup-form a{
    color:#FFD54F;
    text-decoration:none;
}
.brand{
    color:#FFD54F;
    text-align:center;
    margin-bottom:10px;
    font-size:36px;
    letter-spacing:1px;
}